
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

header {
    background-color: #EFEFEF !important;
}
  
.container-head {
  margin: 0 auto 0 5%;
}

/*Centra el slide*/
.slide img {
    margin:0 auto;
}

/* centering styles for jsbin */
.publicidad-uno:before{
  display:block;
  position:relative;
    content:"Publicidad";
    margin-bottom:8px;
	font-family:sans-serif;
	font-size:10px;
    letter-spacing:1px;
    color:#658600;
    text-align:left;
}

.publicidad-uno{
padding-top:10px;
    padding-bottom:15px;
	border:1px solid #80aa00;
	background:#d6ec94;
	height: 246px;
	margin: 20px 0;
	}
/* Para una mejor visualización en diferentes pantallas*/
/*html,
body {
    width:100%;
    height:100%;
} */
/*html {
    
}*/
/*body {
    display:table-cell;
    vertical-align:middle;
}*/
/*content style*/
.dia{
border-bottom:1px solid #000;
border-color:#757679;
margin-bottom: 5px;
padding-bottom: 5px;

}
.espacio{
padding-bottom: 15px;
}
.naranja{
color:#bf4830;
font-weight: bold;
}
/*.item {
	display:table;
}
.item2{
display: initial;
}
*/
/*.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}*/
/*.content2{
text-align:left;
}*/

/* firefox fix */
/*.img-responsive {
   width: 100%;
}
*/
/* vertical alignment styles */
/*.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
*/
/* columns of same height styles */
/*.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}*/


/*@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}*/


/*@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}*/



/*@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
*/



.menu-footer{
list-style-type: none;
font-size: 12px;
font-weight: 300;
font-style:bold;
}

/* unvisited link */
.menu-footer a:link {
   color: #f5f3f4;
}

/* visited link */
.menu-footer a:visited {
    color: #f5f3f4;
}

/* mouse over link */
.menu-footer a:hover {
    color: #f5f3f4;
}

/* selected link */
.menu-footer a:active {
    color: #f5f3f4;
} 


.texto-footer{
color: #757679;
font-size: 11px;
font-weight: 100;
padding-bottom:20px;
}
.diho{
color: #f5f3f4;
font-size: 11px;
font-weight: 300;
font-style:bold;

}


footer{
background-color:#2d2d2d;
color:#f5f3f4;
padding-bottom:20px;
padding-top:20px;
}



/*carrusel festivales*/
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

.carousel-inner.onebyone-carosel2 { margin: auto; width: 90%; }
.onebyone-carosel2 .active.left { left: -16.55%; }
.onebyone-carosel2 .active.right { left: 16.55%; }
.onebyone-carosel2 .next { left: 16.55%; }
.onebyone-carosel2 .prev { left: -16.55%; }

.pie-de-foto-titulo{
color: #f5f3f4;
font-size: 14px;
/*font-weight: 300;*/

}
.pie-de-foto{
color: #757679;
font-size: 12px;
font-weight: 300;

}
.patrocinadores{
color: #bf4830;
font-size: 22px;
font-weight: 300;
padding-bottom: 7px;

}

.eventos{
color: #f5f3f4;
font-size: 22px;
font-weight: 300;
padding-bottom: 7px;

}
.festivales{
color:#757679;
font-size: 12px;
font-weight: 100;
font-style: oblique;
padding-bottom: 17px;
}
.well {
    background-color: #2d2d2d;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    margin-top: 20px;
}
.well2 {
    /*background-color: #2d2d2d;*/
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    margin-top: 20px;
}


#myCarousel2  .carousel-control {
    /*background: none repeat scroll 0 0 #222222;*/
    /*border: 3px solid #ffffff;*/
    /*border-radius: 23px;*/
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
   
    line-height: 30px;
    margin-top: -20px;
    /*opacity: 0.5;*/
    position: absolute;
    text-align: center;
    /*top: 40%;*/
    width: 40px;
}
#myCarousel3  .carousel-control {
    /*background: none repeat scroll 0 0 #222222;*/
    /*border: 3px solid #ffffff;*/
    /*border-radius: 23px;*/
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
   
    line-height: 30px;
    margin-top: -20px;
    /*opacity: 0.5;*/
    position: absolute;
    text-align: center;
    /*top: 40%;*/
    width: 40px;
}
.carousel-control.left {
    background-image: none;
    background-repeat: none;
}
.carousel-control.right {
    background-image: none;
    background-repeat: none;
}
#myCarousel2 .lefti{
left: auto;
right: 40px;
top: -55px;
}
#myCarousel2 .righti{
top: -55px;
}
#myCarousel3 .lefti{
left: auto;
right: 40px;
top: -55px;
}
#myCarousel3 .righti{
top: -55px;
}
.columnauno{
font-weight: bold;

}
.centradotd{
vertical-align: middle !important;
text-align: center;
}
.arriba{
color:#bf4830;
}
table tr{
border-bottom:1px solid #757679;

}
.ciudades{
border-left: 2px solid #757679; 
width: 100px; 
text-align: right;
}
.gris{
color:#757679;
font-weight: normal;
}
.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}
.social2 [class*="fa fa-"] {
    background-color: #f5f3f4;
    border-radius: 30px;
    color: #2d2d2d;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    
}
.fa-twitter:hover { 
    background-color: #46c0fb; 
}
.raitingcheck{
color:#fff;
}
.raiting{
color:#fff;
}
.raitingcheck [class*="fa fa-heart"] {
    background-color: #bf4830;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}
.raiting [class*="fa fa-heart"] {
     /*background-color: #bf4830;*/
    /*border-radius: 30px;*/
    /*color: #fff;*/
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    
    border-radius:50%; 
border:2px solid; 
 
color:#fff; 
border-color:#fff;
    
}
.cruz [class*="fa fa-plus"] {
    background-color: #bf4830;
    border-radius: 60px;
    color: #fff;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: auto 3px;
    width: 60px;
    font-size: 40px;
    text-align: center;
    /*color:rgba(255,255,255,0);*/
}


span.right{
border-left: 1px solid #f5f3f4;
    float: right;
    padding-left: 10px;
}
/*
Ya existe esto en bootstrap como pull-right
 button.right {
    float: right;
}*/
/*header ,.header{
height: 120px;
}*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
font-family: 'Roboto', sans-serif; 
}
body {
font-family: 'Roboto', sans-serif;
/*font-size: 48px;*/
line-height: none !important;
}
/* 428 x 166 */
.logo img { 
  height: 65px;
  margin: 10% auto 0 5%;
  }
  
#nav {
  width: 100%;
  position:static;
  top:-130px;
  /*height: 120px;*/
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:999;
   -webkit-transition: all .6s ease-in-out;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #000;
  border: 0px solid #ccc;
  border-radius: 0px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #757679;
  text-align: center;
  background-color: #2d2d2d; /* Old browsers */
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));*/
 /* background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);*/
 /* background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);*/
 /* background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#e5e5e5));*/
 /* background-image:         linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );*/ /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 0px solid #000;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #bf4830;
  color: #f5f3f4;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 0 0 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 0px 0px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 0px 0 0 0px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 0px 0px 0;
  }
}

.navbar-static-top {
    border-width: 0;

}


.nav>li>a:hover,.nav>li>a:focus{
text-decoration:none;
background-color:#bf4830;
color:#f5f3f4;
}
.nav>li.disabled>a{
color:#FFF;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
.navbar-inverse {
    background-color: #2d2d2d;
    border-color: #080808;
}
/*borrar*/
/*.highlight {
            color: #090;
        }
        
        .example {
            color: #08C;
            cursor: pointer;
            padding: 4px;
            border-radius: 0px;
        }
        
        .example:after {
            font-family: Roboto,Consolas, Courier New, Arial, sans-serif;
            content: '↓';
            margin-left: 6px;
            color: #08C;
        }
        
        .example:hover {
            background: #F2F2F2;
        }
        
        .example.dropdown-open {
            background: #888;
            color: #FFF;
        }
        
        .example.dropdown-open:after {
            color: #FFF;
        }*/
        /*borrar*/
.btn-registrate { 
  color: #FFFFFF; 
  background-color: #BF4830; 
  border-color: #BF4830; 
} 
 
.btn-registrate:hover, 
.btn-registrate:focus, 
.btn-registrate:active, 
.btn-registrate.active, 
.open .dropdown-toggle.btn-registrate { 
  color: #FFFFFF; 
  background-color: #BF4830; 
  border-color: #BF4830; 
} 
 
.btn-registrate:active, 
.btn-registrate.active, 
.open .dropdown-toggle.btn-registrate { 
  background-image: none; 
} 
 
.btn-registrate.disabled, 
.btn-registrate[disabled], 
fieldset[disabled] .btn-registrate, 
.btn-registrate.disabled:hover, 
.btn-registrate[disabled]:hover, 
fieldset[disabled] .btn-registrate:hover, 
.btn-registrate.disabled:focus, 
.btn-registrate[disabled]:focus, 
fieldset[disabled] .btn-registrate:focus, 
.btn-registrate.disabled:active, 
.btn-registrate[disabled]:active, 
fieldset[disabled] .btn-registrate:active, 
.btn-registrate.disabled.active, 
.btn-registrate[disabled].active, 
fieldset[disabled] .btn-registrate.active { 
  background-color: #BF4830; 
  border-color: #BF4830; 
} 
 
.btn-registrate .badge { 
  color: #BF4830; 
  background-color: #FFFFFF; 
}

/*generador de botno*/

.btn-custom {
  background-color: #BF4830;
  border-color: #BF4830;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #ab402b;
  border-color: #963926;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #BF4830;
  border-color: #BF4830;
}

/*old style*/
.btn-oldstyle {
  background-color: #BF4830;
  border-color: #BF4830;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #af422c;
  background-image: -moz-linear-gradient(top,#BF4830,#963926);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#BF4830),to(#963926));
  background-image: -webkit-linear-gradient(top,#BF4830,#963926);
  background-image: -o-linear-gradient(top,#BF4830,#963926);
  background-image: linear-gradient(to bottom,#BF4830,#963926);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf4830', endColorstr='#ff963825', GradientType=0);
  border-color: #963926 #963926 #592216;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  background-color: #963926;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
  background-color: #ab402b;
  border-color: #963926;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #BF4830;
  border-color: #BF4830;
}

.linea{
border-bottom: 1px solid #000;
}

.post-content2 {
       left: 26px;
    position: absolute;
    top: 213px;
}

.thumbnail2{
    position:relative;

}

.icon-a {
    color: #fff;
} 
.icon-b {
    color: orange;
}
.icon-c {
    color: yellow;
}
.icon-cc {
    color: #fff;
}
.icon-d {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}
.h-circle i{ 
border-radius:50%; 
border:2px solid; 
}
.h-white i{ 
color:#fff; 
border-color:#fff; }

.xoverlay span i.corazon {
    font-size: 18px;
    height: 24px;
    padding: 5%;
    text-align: center;
    width: 26px;
    }
#myCarousel{
margin-bottom: 20px;
}
    

.btn{
white-space:none;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}